.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@for $i from 1 through 12 {
    .size-#{$i} {
        grid-column: span $i;
    }
}

@for $i from 1 through 12 {
    .spacing-#{$i} {
        gap: #{$i * 4px};
    }
}
