@use "@/assets/styles/variables/colors" as *;
@use "@/assets/styles/variables/shadows" as *;
@use "@/assets/styles/variables/radius" as *;
@use "@/assets/styles/variables/animations" as *;

.toast {
    position: relative;
    display: flex;
    padding: 1rem;
    width: 25rem;
    gap: 0.75rem;
    box-shadow: $shadow-large, $shadow-small;
    border: 1px solid $gray-200;
    border-radius: $radius-xl;
    background: white;
    opacity: 0;
    transition:
        opacity $transition,
        max-height $transition;
    overflow: hidden;
    max-height: 0;
    &.visible {
        opacity: 1;
        max-height: 50rem;
    }
}

.iconBox {
    flex-shrink: 0;
}

.info .iconBox {
    background-color: white;
    border-color: $gray-200;
    color: $gray-700;
}

.error .iconBox {
    background-color: $error-50;
    border-color: $error-100;
    color: $error-700;
}

.warning .iconBox {
    background-color: $warning-50;
    border-color: $warning-200;
    color: $warning-600;
}

.success .iconBox {
    background-color: $success-50;
    border-color: $success-200;
    color: $success-600;
}

.toastContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

.closeButton {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}
