@use "@/assets/styles/variables/colors" as *;

.tabListExtraMargin {
  margin-bottom: 1.25rem;
}

.extraPanel {
  position: relative;
  min-height: 60vh;
}

.counterTickets {
  margin-left: 0.5rem;
}
