@use "@/assets/styles/variables/colors" as *;
@use "@/assets/styles/variables/typography" as *;

.cell{
}

.head {
    padding: 0.8125rem 1.625rem;
    color: $gray-500;
    font-weight: 500;
    font-size: $font-size-text-xs;
    line-height: $line-height-text-xs;
}

.body{
    padding: 1rem 1.625rem;
    color: $gray-600;
    font-weight: 400;
    font-size: $font-size-text-sm;
    line-height: $line-height-text-sm;
}

.footer {
    
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}