@use "@/assets/styles/variables/colors" as *;

.rootWithoutCards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
  justify-content: start;
  gap: 1rem;
  margin-bottom: 2rem;
}
