$font-primary: "Inter", sans-serif;

$font-size-2xl: 4.5rem;
$font-size-xl: 3.75rem;
$font-size-lg: 3rem;
$font-size-md: 2.25rem;
$font-size-sm: 1.875rem;
$font-size-xs: 1.5rem;
$font-size-text-xl: 1.25rem;
$font-size-text-lg: 1.125rem;
$font-size-text-md: 1rem;
$font-size-text-sm: 0.875rem;
$font-size-text-xs: 0.75rem;

$line-height-2xl: 5.625rem;
$line-height-xl: 4.5rem;
$line-height-lg: 3.75rem;
$line-height-md: 2.75rem;
$line-height-sm: 2.375rem;
$line-height-xs: 2rem;
$line-height-text-xl: 1.875rem;
$line-height-text-lg: 1.75rem;
$line-height-text-md: 1.5rem;
$line-height-text-sm: 1.25rem;
$line-height-text-xs: 1.125rem;

$letter-spacing-2xl: -2%;
$letter-spacing-xl: -2%;
$letter-spacing-lg: -2%;
$letter-spacing-md: -2%;
$letter-spacing-sm: -2%;
$letter-spacing-xs: -2%;
$letter-spacing-text-xl: 0;
$letter-spacing-text-md: 0;
$letter-spacing-text-sm: 0;
$letter-spacing-text-xs: 0;