.logomark {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm {
  width: 1.5rem;
  height: 1.5rem;
}

.md {
  width: 2rem;
  height: 2rem;
}

.lg {
  width: 2.5rem;
  height: 2.5rem;
}

.xl {
  width: 3rem;
  height: 3rem;
}

.xxl {
  width: 3.5rem;
  height: 3.5rem;
}

