@use "@/assets/styles/variables/colors" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.containerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray-200;
  border-radius: 1.25rem;
  width: 56px;
  height: 56px;
  background-color: white;
  margin-bottom: 0.75rem;
}

.icon {
  width: 26px;
  height: 26px;
}
