@use "@/assets/styles/variables/animations" as *;
.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 9999;
    display: grid;
    grid-template-columns: 1fr;
    transition: grid-template-rows $transition;
    gap: 0.5rem;
}
