@use "@/assets/styles/variables/colors" as *;
@use "@/assets/styles/variables/radius" as *;
@use "@/assets/styles/variables/animations" as *;

.avatarCardWrap {
  position: relative;
  padding: 0.375rem;
  border-radius: $radius-xl;
  border: 1px solid $gray-200;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: background-color $transition, border-color $transition,
    transform $transition, padding $transition;
  height: 70px;
  &:hover {
    background-color: $gray-50;
  }
  .avatarCard {
    padding: 0.375rem;
    transition: all $transition;
  }

  .label {
    overflow: hidden;
    transform: scale(1);
    opacity: 1;
    transition: transform $transition, opacity $transition;
  }

  .avatar {
    transform: scale(1);
    transition: transform $transition;
  }

  .buttonWrap {
    position: absolute;
    top: 0.375rem;
    right: 0.375rem;
    transition: top $transition, right $transition;
    .button {
      width: 2rem;
      height: 2rem;
      padding: 0.375rem;
      color: $gray-400;
      &:hover {
        background-color: $gray-100;
        color: $gray-500;
      }
    }
  }
}

.avatarCardWrap {
  &.isCollapsed {
    padding: 0;
    border-color: transparent;
    transform: translateY(-2.5rem);
    &:hover {
      background-color: transparent;
    }
    .avatarCard {
      gap: 0;
      padding: 0;
      &:hover {
        background-color: transparent;
      }
    }
    .avatar {
      transform: scale(0.8) translate(-2.5%, -2.5%) translateY(50%);
    }
    .label {
      transform: scale(0);
      opacity: 0;
    }
    .buttonWrap {
      top: 100%;
      right: 0.125rem;
    }
  }
}
